.popup__image-tooltip {
    max-width: 100%;
    display: block;
    margin: 26px auto 32px auto;
}

@media screen and (max-width: 570px) {
    .popup__image-tooltip {
        margin: 25px auto 40px auto;
    }
  }
  