.popup-form__error_active {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  margin-top: 5px;
  max-width: 358px;
}

@media screen and (max-width: 570px) {
  .popup-form__error_active {
    max-width: 238px;
  }
}
