@import url(./vendor/normalize.css);
@import url(./vendor/fonts/inter.css);
@import url(./blocks/root/root.css);
@import url(./blocks/page/page.css);
@import url(./blocks/page/__header/page__header.css);
@import url(./blocks/page/__footer/page__footer.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/content/content.css);
@import url(./blocks/content/__profile/content__profile.css);
@import url(./blocks/content/__section/content__section.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__image/profile__image.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__text/profile__text.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-card-button/profile__add-card-button.css);
@import url(./blocks/elements/elements-content.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__trash/element__trash.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__group/element__group.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__like/element__like.css);
@import url(./blocks/element/__like/_enable/element__like_enable.css);
@import url(./blocks/element/__count/element__count.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__paragraph/footer__paragraph.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_is-opened/popup_is-opened.css);
@import url(./blocks/popup/_theme/popup_theme_dark.css);
@import url(./blocks/popup/__content/popup__content.css);
@import url(./blocks/popup/__content-image/popup__content-image.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__image-tooltip/popup__image-tooltip.css);
@import url(./blocks/popup/__text/popup__text.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__title-delete/popup__title-delete.css);
@import url(./blocks/popup/__title-tooltip/popup__title-tooltip.css);
@import url(./blocks/popup-form/popup-form.css);
@import url(./blocks/popup-form/__field/popup-form__field.css);
@import url(./blocks/popup-form/__input/popup-form__input.css);
@import url(./blocks/popup-form/__error/popup-form__error.css);
@import url(./blocks/popup-form/__error/_active/popup-form__error_active.css);
@import url(./blocks/popup-form/__input/_type/popup-form__input_type_error.css);
@import url(./blocks/popup-form/__button/popup-form__button.css);
@import url(./blocks/popup-form/__button/_disabled/popup-form__button_disabled.css);
